# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pyc

# Configuration du système d'exploitation
.DS_Store
Thumbs.db

# Répertoires IDE
.vscode/
.idea/
*.code-workspace

# Fichiers temporaires
*.swp
*.tmp
*.bak
*.log

# Types de fichier raster
*.tiff
*.tif
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.asc
*.grd
*.vrt
*.tif.aux.xml
*.vrt
*.zip

# QGIS
*.qgs~
*.qgz~
*.qgz
*.qmd

# Fichier .odt
*.odt

# Données rapport
diagramme/*
!diagramme/.gitkeep

*.docx
*.drawio
*.m4a
*.wmv
old_scripts/
docs_reference/

# Fichiers spécifiques
*.yml
installation_environment.md
peupleraies_grid_10m_2154_metrics.gpkg
peupleraies_metriques.gpkg

# Dossiers spécifiques
stacks/confidence/*
!stacks/confidence/.gitkeep

stacks/lidar/*
!stacks/lidar/.gitkeep


data_brut/vector/*
!data_brut/vector/.gitkeep

data_final/tableaux/olds